.top-navbar {
    background: #6441a4;
}

.search-input-group {
    width: 100%;
    display: inline-flex;
    padding-top: 7px;
}

.search-submit-btn {
    background: #6441a4;    
    color: white;
}

#user-card-content{
    text-align: center;
}

#user-card-actions{
    text-align: center;
}

.user-information-cards{
    text-align: center;
}